.AboutBox{
    height: auto;
    width: 70%;
    background-color: rgba( 0, 0, 130, 0.5);
    color: white;
    margin: 0 auto;
    font-size: 30px;
    text-align: left;
    text-shadow: 2px 2px black;
    padding: 0;
    padding-left: 10px;
    border-radius: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba( 0, 0, 130, 0.8);
}