/****************************************************************                             
|Designer&Coder : ImAdige [ Fatih Elbeyoglu ]
|Website: http://hachell.com/ 
|ImAdige theme by IMADIGE © 2015.   - Tum haklari ImAdige'ye aittir.
|Kopyaladiginiz her kodlama sahsiniza yasal sorumluluk dogurur.
*****************************************************************/


.ima_tborder {
    width: 100%;
    margin: auto;
}

.ima_pb_durumu_online {
    font-weight: bold;
    text-shadow: 0px 0px 1px #545454;
	border: 1px dashed #4A4A4A;
  	color: #FFF;
    font-size: 11px;
    padding: 5px;
    margin-top: 2px;
    font-family: "Century Gothic","HelveticaNeueLT Pro 45 Lt",sans-serif;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.47);
    margin-bottom: 5px;
    border-radius: 19px 0;
  	-webkit-box-shadow: inset 0px 0px 16px 4px #007D13;
    -moz-box-shadow:  inset 0px 0px 16px 4px #007D13;
	box-shadow: inset 0px 0px 16px 4px #007D13;
    font-style: italic;
}

.ima_pb_durumu_offline {
    font-weight: bold;
    text-shadow: 0px 0px 1px #545454;
	border: 1px dashed #4A4A4A;
  	color: #FFF;
    font-size: 11px;
    padding: 5px;
    margin-top: 2px;
    font-family: "Century Gothic","HelveticaNeueLT Pro 45 Lt",sans-serif;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.47);
    margin-bottom: 5px;
    border-radius: 19px 0;
  	-webkit-box-shadow: inset 0px 0px 16px 4px #7D0000 ;
    -moz-box-shadow:  inset 0px 0px 16px 4px #7D0000 ;
	box-shadow: inset 0px 0px 16px 4px #7D0000;
    font-style: italic;
}

.ima_post_tborder {
    background: none repeat scroll 0% 0% #FFF;
    width: 100%;
    margin: auto;
    border: 1px solid #4B4B4B;
  	clear: both;
  	table-layout: fixed;
	word-wrap: break-word;
}


.ima_avatar_postbit {
  	opacity:0.8;
    background: none repeat scroll 0% 0% rgba(57, 57, 57, 0);
    box-shadow: 0px 3px rgba(146, 43, 43, 0), 0px 4px 5px rgba(0, 0, 0, 0.3);
    border-radius: 30px 0;
  	-webkit-transform:scale(1,1);
	-webkit-transition-timing-function:ease-out;
	-webkit-transition-duration:250ms;
	-moz-transform:scale(1,1);
	-moz-transition-timing-function:ease-out;
	-moz-transition-duration:250ms
}

.ima_avatar_postbit:hover {
	opacity:1;
	-webkit-transform:scale(1.05,1.07);
	-webkit-transition-timing-function:ease-out;
	-webkit-transition-duration:250ms;
	-moz-transform:scale(1.05,1.07);
	-moz-transition-timing-function:ease-out;
	-moz-transition-duration:250ms;
	position:relative;
	z-index:99
    box-shadow: 0pt 0pt 1em #FFF;  
}

.postingo {
    font-weight: bold;
    text-shadow: 0px 0px 1px #545454;
	border: 1px dashed #4A4A4A;
  	color: #FFF;
    font-size: 11px;
    padding: 5px;
    margin-top: 2px;
    font-family: "Century Gothic","HelveticaNeueLT Pro 45 Lt",sans-serif;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.47);
    margin-bottom: 5px;
    border-radius: 19px 0;
  	-webkit-box-shadow: inset 0px 0px 16px 4px rgba(0, 50, 50, 1);
    -moz-box-shadow:  inset 0px 0px 16px 4px rgba(0, 50, 50, 1);
	box-shadow: inset 0px 0px 16px 4px #212121;
}

.ima_post_govde {
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid #7A7A7A;
    padding: 12px 10px;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.89);
    margin-top: 15px;
}

.ima_postbit_bg {
    font-family: "Century Gothic","HelveticaNeueLT Pro 45 Lt",sans-serif;
    width: 220px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.47);
    color: #fff;
}


.ima_postbit_k_bas {
    color: #FFF;
    padding: 8px;
    font-size: 12px;
    border-bottom: 2px solid #B7B7B7;
  	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.86);
}

.ima_konu_altbg {
    font-family: Tahoma,Calibri,Verdana,Geneva,sans-serif;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.86);
    border: 1px solid #1B1B1B;
    padding: 8px;
}


.ima_konubg {
    font-family: Tahoma,Calibri,Verdana,Geneva,sans-serif;
  	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.47);
}


.ima_p_button a:link, .ima_p_button a:visited {
    font-size: 12px;
    background: #930000;
    padding: 5px 8px 5px 6px;
    color: #FAFAFA;
    transition: all 0.5s ease 0s;
    font-family: "Century Gothic","HelveticaNeueLT Pro 45 Lt",sans-serif;
    font-weight: bold;
}

.ima_p_button a:hover, .ima_p_button a:active {
  	background: #E30000;
  	transition: all 0.5s ease;
  text-shadow: 0px 0px 1px #FFF;
  box-shadow: 0pt 0pt 1em #FFF;
}

.ima_p_minibutton a:link, .ima_p_minibutton a:visited {
    padding: 5px;
    text-align: center;
    background: #930000;
    transition: all 0.5s ease 0s;
    color: #FAFAFA;
}

.ima_p_minibutton a:hover, .ima_p_minibutton a:active {
  	background: #E30000;
  	transition: all 0.5s ease;
  	box-shadow: 0pt 0pt 1em #FFF;
}

.ima_p_kirmzbutton a:link, .ima_p_kirmzbutton a:visited {
  	font-family: 'Exo 2', sans-serif;
  	font-size: 13px;
  	background: #a70000;
  	padding: 5px 8px 5px 6px;
  	color: #FAFAFA;
  	transition: all 0.5s ease;
}

.ima_p_kirmzbutton a:hover, .ima_p_kirmzbutton a:active {
  	background: #d00000;
  	transition: all 0.5s ease;
}
		